body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 90px 8px 90px;
    background-color: #1f2937;
    color: white;
    border: #1f2937;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.intro {
    display: flex;
    background-color: #1f2937;
    padding: 30px 90px 30px 90px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-two {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.sign-up-button {
    width: 90px;
    height: 27px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    padding: 2px 6px 2px 6px;
    border-radius: 8px;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 130px 100px 130px;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.header-three {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgcard {
    border-radius: 8px;
}

.testimonial {
    padding: 100px 130px 100px 130px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-quote {
    max-width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.text-name {
    text-align: auto;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 180px;
}

.CTA {
    background-color: #f9faf8;
}

.container-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 60px 90px 60px 90px;
    padding: 20px 80px 20px 80px;
    border-radius: 6px;
}

.text-CTA-big {
    color: #f9faf8;
    font-weight: bold;
}

.text-CTA-sm {
    color: #f9faf8;
    font-size: 12px;
}

.CTA-button {
    border: 1px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    width: 90px;
    height: 30px;

}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px 80px 20px 80px;
}

.text-ft {
    color: #f9faf8;
    font-size: 12px;
}
